/* Your stylesheet goes here */
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,300");
@import url("https://fonts.googleapis.com/css?family=Lato:400,300italic,300");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

body {
	font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #E9EAEE;
	font-weight: 300;
	font-size: 16px;
}

header {
	font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
}

h2{
	color: #BC6026;
}

@media screen and (min-width: 768px) {
	body {
		font-size: 20px;
	}
	
	h2 {
		text-align: center;
		padding-bottom: 1em;
	}
}

svg {
	height: 1em;
}

#navlist li {
	font-size: 16px;
	display: inline;
}

#navlist a{
	color: white;
	padding-left: .5em;
	font-variant: small-caps;
}

#navlist svg {
	margin-left: 15px;
	fill: currentColor;
}

ul{
	padding-left: 0px;
}

#navlist a:hover {
	color: #D87E28;
	text-decoration: none;
}

.coffeeIcon {
	margin-left: 15px;
}

#dawgcoffee{
	padding-top: 3em;
}

#navbar {
	position: fixed;
	background-color: #181C22;
	width: 100%;
}

@media screen and (max-width: 768px){
	.container p{
		display: none;
	}
}

@media screen and (min-width: 768px){
	#navbar {
		background-color: rgba(24, 28, 34, 0.8);
	}
		
	#navlist a{
		padding-left: 1em;
	}
		
	.container{
		background-image: url("img/background-sm.jpg");
		text-align: right;
		min-height: 550px;
	}
}

@media screen and (min-width: 992px){
	.container{
		background-image: url("img/background-md.jpg");
	}
	
	#dawgcoffee{
		font-size: 4em;
	}
}

@media screen and (min-width: 1200px){
	.container{
		background-image url("img/background-lg.jpg");
	}
}

